{% extends 'base.html.twig' %}

{% block content %}

    <section class="container_profil">
        <div class="title_profil">
            <p><i class="fas fa-user"></i> Mon compte</p>
        </div>
        <div class="info_profil">
        <p>Mon Prenom :</p>
        <p>Mon Nom :</p>
        <p>Mon Email :</p>

        </div>
    </section>

{% endblock %}